.site-section {
    padding-top: 50px;
    padding-bottom: 70px;
}

.btn.btn-primary {
    color: #fff;
    background-color: #7971ea;
    border-color: #7971ea;
    font-weight: 300;
    border-radius: 0.2rem;
}

.btn-primary:hover {
    color: #fff;
    background-color: #222 !important;
    border-color: #222 !important;
}

.btn {
    text-transform: uppercase;
    position: relative;
}

.btn.btn-sm {
    font-size: 14px !important;
    padding: 10px 20px !important;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #7971ea;
    border-color: #7971ea;
}

.coupon {
    width: 100% !important;
}

.cart-total {
    padding-left: 30px;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.btn-checkout {
    font-size: 14px;
    letter-spacing: .2em;
}

.text-black {
    color: #000;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.input-coupon {
    height: 43px;
}

.btn-outline-primary {
    color: #7971ea;
    background-color: transparent;
    background-image: none;
    border-color: #7971ea;
}

.input-group>.input-group-prepend>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 14px;
}

.input-group>.input-group-append>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* padding-bottom: 14px; */
}

.site-blocks-table .product-thumbnail {
    width: 110px;
}

.site-blocks-table thead th {
    padding: 15px;
    text-align: center;
    border-width: 1px !important;
    vertical-align: middle;
    color: #212529;
    font-size: 16px;
}

.site-blocks-table tbody tr:first-child td {
    border-top: 1px solid #7971ea !important;
}

.site-blocks-table td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    color: #212529;
}

.form-quantity {
    width: 100px;

}

.form-remove {
    width: 5%;
}

.form-price {
    width: 10%;
}

.form-size-color {
    width: 10%;
}

.checkout-form {
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 20px;
}


